.wrapper {
  width: 100%;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 241, 241);
}

.main{
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
}

.leftSide{
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  background-color: #309dc4;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: start;
}

.rightSide{
  width: 60%;
  padding-left: 20px;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  color: rgb(72, 72, 72);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.img{
  width: 100%;
  max-height: 300px;
  border-top-left-radius: 15px;
}

.firstLastName{
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.profession{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.titles{
  height: 25px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-left: 15px;
  background-color: #2681a2;
}

.divInfo{
  padding-left: 25px;
}

.titlesRight{
  font-size: 30px;
  color: #309dc4;
}

.divInfoRight{
  font-size: 18px;
  list-style: none;
  line-height: 28px;
}

.description{
  padding-left: 40px;
}

.btnLogin{
  width: 90px;
  height: 50px;
  border: #2681a2 solid;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.btnLogOut{
  width: 80px;
  height: 50px;
  border: #2681a2 solid;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.btnEdit{
  width: 80px;
  height: 40px;
  margin-left: 700px;
  border: #2681a2 solid;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.btnDiv{
  display: flex;
  justify-content: flex-end;
}

.links{
  color: #2681a2;
  text-decoration: none;
}

.header{
  width: 64%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 85px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 250px;
  height: 20px;
  margin-left: 5px;
  border: solid rgb(94, 94, 94) 2px;
  border-radius: 5px;
  font-size: 25px;
  background: white;
  outline: none;
  color: rgb(84, 84, 84);
}

.inputLi{
  width: 200px;
  height: 20px;
  margin-left: 15px;
  margin-bottom: 5px;
  border: solid rgb(94, 94, 94) 2px;
  border-radius: 5px;
  font-size: 25px;
  background: white;
  outline: none;
  color: rgb(84, 84, 84);
}

.btnDel{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(255, 141, 88);
  color: black;
  font-size: 20px;
  border: none;
}

.btnAdd{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(60, 153, 91);
  color: black;
  font-size: 20px;
  border: none;
}