.wrapper {
  width: 100%;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 241, 241);
}

.main{
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
}

.leftSide{
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background-color: #309dc4;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.rightSide{
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.img{
  width: 100%;
  max-height: 350px;
  border-top-left-radius: 15px;
}

.firstLastName{
  font-weight: 200;
  font-size: 30px;
  display: block;
}